#navbarResponsive .btn.focus, .btn:focus {

    outline: 0;
    box-shadow: 0 0 0 0;

}


#navbarResponsive .dropdown-menu{
  background: transparent;
  border:0;
}


#navbarResponsive .nav-link{
  text-align: left;
}
#navbarResponsive li{
  margin-top: -20px;
}

 
#EmployeerModal .register, #LoginModal .register{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    margin-top: 0%;
    padding: 3%;
}
#EmployeerModal .register-left, #LoginModal .register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
#EmployeerModal .register-left input, #LoginModal .register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
#EmployeerModal .register-right, #LoginModal .register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
#EmployeerModal .register-left p, #LoginModal .register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
#EmployeerModal .register .register-form , #LoginModal .register .register-form{
    padding: 10%;
    margin-top: 10%;
}
 #EmployeerModal .btnRegister, #LoginModal .btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
#EmployeerModal .register .nav-tabs , #LoginModal .register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
#EmployeerModal .register .nav-tabs .nav-link:hover, #LoginModal .register .nav-tabs .nav-link:hover{
    border: none;
}
#EmployeerModal .register .nav-tabs .nav-link.active, #LoginModal .register .nav-tabs .nav-link.active{
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
#EmployeerModal .register-heading, #LoginModal .register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}

#EmployeerModal .modal-dialog{
  width: 75%;
  max-width: 100% !important;
}
#LoginModal .modal-dialog{
  width: 75%;
  max-width: 100% !important;
}

.firma-ara{
    padding-bottom: 100px;
    padding-top: 100px;
}
.form-arka-plan{
    background-image: url("https://cdn.filepicker.io/api/file/1WxRtkAQG5h70aoPQdGA/convert?format=jpeg&quality=50");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}
.acik-renk-form{
    background: rgba(255, 255, 255, 0.58);
}
.siyah-cerceve{
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}


